:root {
    --orange: #FF6B00;
    --orange-dark: #E05D00;
}

.promo-card-container {
    position: relative;
    height: 100%;
}

.promo-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fdebdb;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 45px),
        calc(100% - 45px) calc(100% - 45px),
        calc(100% - 45px) 100%,
        0 100%
    );
}

.promo-image {
    height: 230px;
    background-color: #f8ca9c;
    position: relative;
    overflow: hidden;
    margin: 23px;
    border-radius: 8px;
}

.promo-arrow {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.promo-header {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1px;
    text-align: left;
}

.promo-body {
    background-color: #fdebdb;
    padding: 15px 20px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.promo-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--orange);
    font-size: 1.3rem;
}

.promo-text {
    margin-bottom: 15px;
    color: #6c757d;
    flex-grow: 1;
    padding-right: 40px;
}

.all-promos-btn {
    background-color: var(--orange);
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
}

.all-promos-btn:hover {
    background-color: var(--orange-dark);
}

.img-fluid {
    object-fit: cover;
}

/* Адаптация для разных устройств */
@media (max-width: 575.98px) {
    /* Вертикальный мобильный - 1 колонка */
    .promo-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Горизонтальный мобильный - 2 колонки */
    .promo-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Планшет - 3 колонки */
    .promo-col {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    /* Десктоп - 4 колонки */
    .promo-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}